NOTIFICATION_MODE=smtp

# SERVICIO
NOTIFICATION_PORT=8002
LOG_LEVEL=info
NOTIFICATION_VERSION=0.2.0

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tu_correo@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_FROM_EMAIL=tu_correo@gmail.com
SMTP_FROM_NAME=CONIITI Conference

# RABBITMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
EVENTS_EXCHANGE=coniiti.events
EVENTS_QUEUE=notifications.q

# SQLITE
SQLITE_PATH=/data/notifications.sqlite
