# Monorepo root ignores
/node_modules
/.DS_Store
/.vscode
/.idea
*.log

# Secretos de producción (NUNCA subir al repositorio)
/.env
/notification-service/.env
/users-service/.env
/conferences-service/.env

# Front-end
/front-end/node_modules
/front-end/dist
/front-end/.env

# Back-end
/back-end/.venv
/back-end/__pycache__
/back-end/*.pyc
/back-end/.env

# OS
Thumbs.db
